// sizes
.btn_size_29 {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 14px;
	height: 29px;
	line-height: 29px;
}

.btn_size_34 {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	text-align: center;
	padding:0 14px;
	font-size: 14px;
	border-radius: 4px;
}

.btn_size_40 {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding:0 15px;
	font-size: 15px;
	border-radius: 5px;
}

// color schemes
.btn_blue_1 {
	color: @color_blue;
	border: 1px solid @color_grayLight;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:hover {
		color: @color_red;
		span {
			border-bottom: 1px dotted fade(@color_red,50%);
		}
	}

	&:active {
		box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);

		span {
			border-bottom: 1px dotted transparent;
		}
	}

	span {
		border-bottom: 1px dotted fade(@color_blue,50%);
	}
}

.btn_red_1 {
	color: #fff !important;
	background-color: #d75441;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	border: none;

	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}

.btn_orange_1 {
	color: @color_orange !important;
	box-shadow: inset 0 0 0 1px currentColor;

	&:hover, &:focus {
		text-decoration: none;
	}
}