.fontFace(@fontWidth) {
	@fontName: "PFBeauSansPro @{fontWidth}";
	@fileName: "../fonts/pfbeausanspro-@{fontWidth}";
    @font-face {
        font-family: @fontName;
		font-weight: 400;
        font-style: normal;
        src: url('@{fileName}.eot');
        src: url('@{fileName}.eot?#iefix') format('embedded-opentype'),
             url('@{fileName}.woff') format('woff'),
             url('@{fileName}.ttf') format('truetype'),
             url('@{fileName}.svg#@{fontName}') format('svg');
    }
}
.fontFace('regular');

@fontName: "FontAwesome";
@fileName: "../fonts/fontawesome-webfont";
@font-face {
	font-family: @fontName;
	font-weight: 400;
	font-style: normal;
	src: url('@{fileName}.eot');
	src: url('@{fileName}.eot?#iefix') format('embedded-opentype'),
	url('@{fileName}.woff') format('woff'),
	url('@{fileName}.ttf') format('truetype'),
	url('@{fileName}.svg#@{fontName}') format('svg');
}

// Variables
// sizes
@pageWidth: 1260px;
@footerHeight: 200px;

// colors
@color_grayLight: #e5e5e5;
@color_gray: #ccc;
@color_gray_2:#fafafa;
@color_darkGray: #efefef;
@color_red: #d75441;
@color_blue: #137fb7;
@color_grayText: #808080;
@color_orange: #ff8a00;
@color_orangeLight: #fff5eb;
@color_cardboard: #cfb085;

@borderRadius: 3px;
.border_lightGray {border: 1px solid @color_grayLight}

@font_main: Arial;
@font_size_normal: 13px;
@font_title: "PFBeauSansPro regular";

.rub:after {
	content: "\f158";
	font-family: FontAwesome;
	font-size: 90%;
}

@tr: .3s;
.tr() {transition: .3s}

@import "components.less";
@import "buttons";
@import "layout.less";
@import "pagination.less";
@import "page.less";
@import "menuSearch.less";
@import "facet.less";
@import "ico.less";
@import "productCard.less";
@import "productTabs.less";
@import "productLine.less";
@import "shareBlock.less";
@import "variantOptions.less";
@import "forms.less";
@import "popupBlock.less";

// plugins
@import "plugins/jcarousel.less";
@import "plugins/fotorama.less";
@import "plugins/ui_slider.less";
@import "plugins/magnificPopup.less";







