.button {
	display: inline-block;
	position: relative;
	height: 35px;
	padding: 0 35px 0 15px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	border: 0;
	line-height: 33px;
	cursor: pointer;
	transition: @tr;

	&:hover {
		box-shadow: 0 1px 0 rgba(0,0,0,0.3);
	}
}

//---------------------------------------------big red button
.buttonRed {
	.button;
	background-color: @color_red;
	background-image: -webkit-linear-gradient(top,#e85538 0,#e4003a 100%);
	background-image: linear-gradient(to bottom,#e85538 0,#e4003a 100%);

	&:hover {
		background-image: -webkit-linear-gradient(top,#ff5534 0,#e4003a 100%);
		background-image: linear-gradient(to bottom,#ff5534 0,#e4003a 100%);
	}
}

.carousel {
	width: 50%;
	margin: 0 auto;
}

//---------------------------------------------slider
// Слайдер на jQuery -- web/webroot/_ui/desktop/common/js/jquery.jcarousel-0.2.8.min.js
.sliderComponent {
	position: relative;
	width: 100% !important;
	max-width: 766px !important;
	min-height: 250px;

	.rotationComponent:not(.stripViewer) {	//чтобы слайдер не разваливался до подгрузки скрипта
		height: 250px;
		overflow: hidden;
	}

	.stripViewer, .stripTransmitter {
		ul {
			position: relative;
			list-style-type: none;
			.cols;
			margin: 0;
			padding: 0;
		}
	}

	.stripViewer {
		width: 100% !important;
		position: absolute;
		overflow: hidden;
        .border_lightGray;
	}

	.stripTransmitter {
		position: absolute;
		bottom: -35px;
		width: 100% !important;

		ul {
			justify-content: center;

			a {
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 10px 5px;
				padding-top: 10px;
				overflow: hidden;
				background: @color_grayLight;
				border-radius: 10px;
				box-shadow: 1px 1px 1px 0 #777 inset;
			}
			.current {
				background-color: @color_red;
			}
		}
	}
}

// Скроллер -- web/webroot/_ui/desktop/common/js/custom.js
.js_bannerTicker {
	position: relative;
	overflow: hidden;
	padding-right: 1px;

	.bannerItem {
		float: left;
		vertical-align: top;
	}
}

.breadcrumbs {
	margin-bottom: 20px;

	a {
		text-decoration: none;
		color: #bdbdbd;

		&:not(.breadcrumbs--home):before {
			content: "→";
			margin-right: 3px;
		}

		&:hover {color: darken(#bdbdbd,20%)}

		&.breadcrumbs--last {
			&:hover {
				color: #bdbdbd;
			}
			span {
				text-decoration: underline;
			}
		}
	}

	&_listItem {
		display: inline;
	}
}

.balloon_trigger:hover {
	.balloon, +.balloon {
		opacity: 1;
        transform: translate(0,0);
	}
}
.balloon {
	position: absolute;
	top: 100%;
	z-index: 1000;
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid @color_grayLight;
	border-radius: @borderRadius;
	line-height: 20px;
	color: #000;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);

	// hidden
	opacity: 0;
	pointer-events: none;
	transform: translate(0,5px);
	transition: .2s ease;

	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		top: -6px;
		left: 50%;
		width: 10px;
		height: 10px;
		background: #fff;
		border: 0 solid @color_grayLight;
		border-width: 1px 0 0 1px;
		transform: rotate(45deg);
	}
}

.spoiler {cursor: pointer}

.spoilerContent {
	display: block;
	margin: 0 -10px;
	padding: 0 10px;

	&--close {
		height: 0;
		overflow: hidden;
	}
}

//--- messagebox
.messageboxContent {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: default;
}
.messagebox {
	padding: 20px;
	border: 2px solid @color_grayLight;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	text-align: center;

	&--success {border-color: green}
	&--error {border-color: @color_red}
}


//---------------------------------------------popUp
.popUpButton {
	cursor: pointer;

	&--video {
		display: flex;
		justify-content: center;
		align-items: center;

		.ytp-large-play-button {position: absolute}

		&:hover .ytp-large-play-button-bg {
			fill: #cc181e;
			fill-opacity: 1;
			transition: @tr;
		}
	}
}
.popUpCont {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);

	.popUp {
		display: inline-block;

		&--video {
			width: 60vw;
		 	height: 33.77vw;
		}
	}

	&--show {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.yandex_copyright {
	padding:30px 0 0;
	text-align: right;
	line-height:1.3;

	span {
		display: block;
		color: #ccc;
		padding:0 0 5px;
	}
}

.clearfix() {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.visually_hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.clearBtnStyle {
	border: none;
	outline: none;
	background: none;
}

.h-space-bottom-panel {
	// delete ulmart style to remove bug
	display: none !important;
}

.b-bottom-panel.navbar {
	// remove repaint when scroll
	will-change: transform;
}