.facet {
	&--selectedItems {
		margin-bottom: @section_margin;
	}

	.facetSelectedItem {
		display: inline-block;
		position: relative;
		height: 30px;
		padding: 5px 12px 5px 15px;
		border: 1px solid @color_grayLight;
		border-radius: @borderRadius;
		line-height: 20px;
		cursor: default;

		&_remove {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: 5px;
			background-color: #808080;
			border-radius: 50px;
			text-align: center;
			font-weight: 600;
			line-height: 14px;
			vertical-align: 2px;
			color: #fff;
			.tr;

			&:hover {
				background-color: @color_red;
				color: #fff;
			}
		}

		&_dropAll {
			border: 0;
			cursor: pointer;

			&:hover .facetSelectedItem_remove {
				background-color: @color_red;
				color: #fff;
			}
		}
	}

	&--stack {
		margin-bottom: @section_margin;
	}

    &--multiSelect {
    	margin-bottom: 20px;
		padding: 10px 15px;
		border: 1px solid @color_grayLight;

		.facet_block {
			margin-top: 7px;
			position: relative;

			& + .facet_block {
				margin-top: 0;
			}
		}
    }

	&_head {
		display: inline-block;
		font-weight: 600;
		color: #000;
		text-decoration: none;

		&:before {
			content: "⌵";
			display: inline-block;
			position: relative;
			top: -2px;
			margin-right: 5px;
			font-size: 90%;
			.tr;
		}
		&.spoiler--close:before {transform: rotate(-90deg) translateX(-2px)}
	}

	&_itm {
		display: block;
		padding: 10px 15px;
		border: 1px solid #e5e5e5;
		margin-bottom: -1px;
		text-decoration: none;
		color: #000;
		.tr;
		cursor: pointer;

		&:hover {
			color: @color_red;
			background-color: #eee;
		}
	}

	&_checkboxed {
		label {
			display: inline-block;
			line-height: 25px;
			cursor: pointer;

			&:before {
				content: "";
				display: inline-block;
				position: relative;
				top: 3px;
				width: 14px;
				height: 13px;
				overflow: hidden;
				margin-right: 5px;
				background-color: #f5f5f5;
				border: 1px solid #e7e7e7;
				color: #fff;
				border-radius: @borderRadius;
				line-height: 13px;
				text-align: center;
				font-size: 10px;
				padding-top: 1px;
				.tr;
			}

			&:hover:before {
				webkit-box-shadow: inset 0 1px 1px rgba(204,204,204,0.75), 0 0 8px rgba(228,0,58,0.6);
				box-shadow: inset 0 1px 1px rgba(204,204,204,0.75), 0 0 8px rgba(228,0,58,0.6);
			}

			&.checked:before {
				content: "✔";
				background-color: @color_red;
				border-color: transparent;
			}

			input[type="checkbox"] {display: none}
		}
	}

	&_valueCount {
		margin-left: 3px;
		font-size: 11px;
		color: #8b99a0;
	}

	&_more {
		display: inline-block;
		margin-top: 10px;
		font-size: 11px;
		color: #808080;
		border-bottom: 1px dotted rgba(128,128,128,0.3);

		&:hover {color: @color_red}
	}

	&_block li {position: relative}

//todo less: следать эти стили красивыми
	&_resultPopup {
		position:absolute;
		top:50%;right:-230px;
		width:260px;height:29px;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		border:1px solid #e4003a;
		border-radius:3px;
		color:rgb(128, 128, 128);
		font-size:13px;
		line-height:27px;
		z-index:100;
		margin-top: -15px;

		&:before {
			content:'';
			display: block;
			position:absolute;
			width: 21px;
			height: 23px;
			background: #fff;
			border: 1px solid #e4003a;
			border-bottom-right-radius: 6px;
			border-top-left-radius: 6px;
			overflow: hidden;
			left: 0;
			top: 0;
			margin-left: -11px;
			margin-top: 1px;
			z-index: 1;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		span {
			display: block;
			position: relative;
			z-index: 101;
			padding-left: 10px;
			background-color: #fff;
		}

		.buttonRed {
			height: auto;
			float: right;
			padding: 0 14px;
			line-height: 28px;
            color:#fff;
		}
        .buttonRed:hover {
            color:#fff;
        }
	}

	&_clearBtn {
		.clearBtnStyle();

		display: inline-block;
		margin:0 0 10px;
		padding: 0;
		font-size: 11px;
		color: @color_grayText;
		border-bottom:1px dotted currentColor;

		&:hover,&:active {
			color: @color_red;
		}
	}
}