.form {
	&_fieldSection {
		&--line {
			display: flex;
			flex-wrap:nowrap;
			align-items: center;

			.separator {
				padding:0 5px;
			}
		}
	}

	&_field {
		display: block;
		width: 100%;
		font-family:@font_main;
		outline: none;
		color: #000;
		background-color: #fff;

		&:hover, &:focus {
			outline: none;
		}

		&--default {
			height: 30px;
			line-height: 30px;
			padding:4px 8px;
			font-size: 13px;
			border:1px solid #e5e5e5;
			border-radius: 3px;
			box-shadow: inset 0 1px 1px rgba(229,229,229,0.75);
			transition: .15s ease-in box-shadow;

			&:hover {
				box-shadow: inset 0 1px 1px rgba(204,204,204,0.75);
			}

			&:focus {
				box-shadow: inset 0 1px 1px rgba(229,229,229,0.75),0 0 8px rgba(228,0,58,0.6);
			}
		}

		&--slider {
			width: 65px;
		}
	}
}