.ico {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	background-image: url(../images/sprt.png);
	background-repeat:no-repeat;
}
.ico_glob {
	width: 24px;
	height: 24px;
	background-position: -1090px -72px;
}
.ico_message {
	width: 24px;
	height: 24px;
	background-position: -1090px -96px;
}

.ico_print {
	width: 24px;
	height: 24px;
	background-position: -1090px -120px;
}

.iconsTheme {
	background: url('../images/iconsTheme.png') 0 0 no-repeat;

	&.icon-select	{background-position: -70px 0}
	&.icon-checking	{background-position: -195px 0}
	&.icon-support	{background-position: -325px 0}
	&.icon-cart		{background-position: -450px 0}
	&.icon-ccard	{background-position: -520px 0}
	&.icon-truck	{background-position: -588px 0}
	&.icon-like		{background-position: -643px 0}
}