* {box-sizing: border-box}

html, body, ul, p {
	margin: 0;
	padding: 0;
}
ul {list-style-type: none}
a {
	text-decoration: none;
	.tr;
}

.hidden {display: none}


body {
	font: 300 13px @font_main;
	background-color: #fff;
}

.b-page_theme_normal {
	overflow: hidden;
	width: 100%;
	min-height:100vh;
	min-width: @pageWidth;
}

.container-fluid {
	position: relative;
	min-width: 0;
	max-width: none;
	width: @pageWidth;
	margin: 0 auto;
	padding: 20px 15px 225px;
	background-color: #fff;
}

.cols {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	.col-float {width: 100%}
}
.grid {
	.cols;
	flex-wrap: wrap;
}

.twoCols {
	display: flex;

	 > * {
		display: inline-block;
		width: 50%;
	}
}