.popupBlock {
	position: relative;
	max-width: 680px;
	margin: 0 auto;
	border: 1px solid #797979;
	border-radius: 6px;
	background: #fff;

	.mfp-close {
		display: none;
	}

	&_close {
		position: absolute;
		top: 20px;
		right: 40px;
		cursor: pointer;

		.text {
			border-bottom: 1px dotted;
			font-size: 14px;
		}
		.cross {
			font-size: 19px;
			position: absolute;
			right: -20px;
			top: -5px;
		}
	}
	&_body {
		padding: 40px;
	}
	&_form {

	}
	&_formItem {
		margin:0 0 20px;

		&:last-child {
			margin: 0;
		}
	}
	&_label {
		display: block;
		width: 100%;
		padding:0 0 10px;
	}
	&_textarea {
		width: 100%;
		height: 100px;
		padding:10px 15px;
		background: #fff;
		border-color: #e5e5e5;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(229,229,229,0.75);
		resize:none;

		&:focus {
			box-shadow: inset 0 1px 1px rgba(229,229,229,0.75),0 0 8px rgba(228,0,58,0.6);
			outline: none;
		}

		&[readonly="true"] {
			cursor: not-allowed;
			background-color: #f5f5f5;
			border-color: #e7e7e7;
			color: #999;

			&:focus {
				box-shadow: none;
			}
		}
	}
	&_btn {
		.btn_size_40;
		.btn_red_1;

		display: block;
		width: 120px;
		margin: 0 auto;
	}
}