// local variables
@gridOffset: 15px;
// local variables##

.productCard {
	&_panel {
		padding:12px 0 24px;
	}

	&_header {
		position: relative;
	}

	&_title {
		padding: 0 0 10px;
		font: 400 32px @font_title;
	}

	&_shortDesc {
		color: @color_grayText;
	}

	&_subHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0 0;
		padding: 8px 15px;
		background-color: @color_gray_2;
		border: 1px solid @color_grayLight;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.02);

		&:focus {
			outline: none;
		}
	}

	&_code {
		display: inline-block;
		margin: 0 15px 0 0;
		font-size: 13px;
		font-weight: bold;

		.word {
			color: #666;
		}
	}

	&_layout {
		display: flex;
		margin: @gridOffset*2 -@gridOffset @gridOffset;
	}

	&_descFull {
		line-height: 1.6;
		padding:6px 0 0;
		width: 100%;
		overflow: hidden;

		&:focus {
			outline:none;
		}

        img {
            display:none;
        }

        table {
			margin:5px 0 0;
            width: 100% !important;
			border: 1px solid black;
            table-layout: fixed;
        }
		tr,td,th {
			border: 1px solid black;
            word-wrap: break-word;
		}
	}

	&_galleryCol {
		flex: 0 0 auto;
		width: 33%;
		overflow: hidden;
		padding: 0 @gridOffset;
	}

	&_descCol {
		width: 41%;
		flex: 0 0 auto;
		padding: 0 @gridOffset;
	}

	&_options {
		padding:15px 0;
	}

	&_optionsItem {
		display:flex;
		align-items: baseline;
		font-size:14px;

		& + & {
			margin-top: .7em;
		}

		.title {
			width: 50%;
			display: flex;

			span:first-child {
				flex: 0 0 auto;
				padding-right:5px;
			}

			.decor {
				position: relative;
				top: -5px;
				flex: 1 1 auto;
				border-bottom:1px dotted @color_gray;
			}
		}
		.desc {
			width: 50%;
			padding-left: 5px;
		}
	}

	&_moreOptions {
		.btn_size_29;
		.btn_blue_1;
	}

	&_priceCol {
		flex: 0 0 auto;
		width: 26%;
		padding:0 @gridOffset;
	}

	&_priceColIn {
		.border_lightGray;
	}

	&_priceSection {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap:wrap;
		padding:30px 15px 26px;

		.danger_text {
			flex: 0 0 auto;
			width: 100%;
			padding:36px 0 0;
			font-size: 11px;
			color:@color_gray;
		}
	}

	&_price {
		flex: 0 0 auto;
		display: block;
		font-size: 30px;

		.danger {
			position: relative;
			top:-12px;
			font-size: 20px;
			color: #43515a;
		}
	}
	&_goWrap {
		position: relative;
		display: inline-block;
	}
	&_goBtn {
		.btn_size_40;
		.btn_red_1;

		min-width: 130px;
		flex: 0 0 auto;
	}
	&_goDescription {
		position: absolute;
		top:calc(~"100% + 14px");
		right:0;
		z-index: 1;
		width: 265px;
		padding: 10px;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		background: white;
		border: 1px solid @color_grayLight;
		border-radius: 6px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.2);

		&:before {
			content: '';
			position: absolute;
			top: -9px;
            right: 60px;
			width: 14px;
			height: 14px;
			transform: rotate(45deg);
			border-left: 1px solid @color_grayLight;
			border-top: 1px solid @color_grayLight;
			background: white;
		}

		// hidden
		opacity: 0;
		pointer-events: none;
		transform: translate(0,5px);
		transition: .2s ease;

		// show
		.productCard_goWrap:hover & {
			opacity: 1;
			transform: translate(0,0);
		}
	}
	&_deliverySection {
		padding: 0 15px 30px;
	}
	&_deliverySectionIn {
		padding:15px 12px;
		background: @color_darkGray;
		border-radius: 3px;
	}
	&_deliveryFrom {
		display: block;
		font-size: 15px;
		font-weight: 700;
	}
	&_deliveryTime {
		display: block;
		margin: 5px 0 0;
		font-size: 13px;
		color:@color_grayText;
	}
	&_deliveryBtn {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 40px;
		line-height: 40px;
		margin:12px 0 0;
		padding:0 10px;
		text-align: center;
		font-size: 13px;
		color: #43515a !important;
		border-radius: 5px;
		border: 1px solid #43515a;
	}

	&_missingImg {
		display: block;
		width: 100%;
	}

	&_outOfStock {
		padding: 0 10px 0 0;
		font-size: 16px;
		font-weight: 700;
		color: @color_red;
	}
}

.productCard_bottomText {
	color: @color_grayText;

	.shift_enter_img {
		display: inline-block;
		margin:0 0 0 10px;
		width: 83px;
		height: 20px;
		vertical-align: middle;
		background: url(../images/shift-enter.png) no-repeat;
	}
}

//---------------------------------------------rating

.rating {
	display: flex;
	align-items: flex-end;
	font-size: 11px;

	&_title {
		color: @color_grayText;
		vertical-align: middle;
	}
	&_stars {
		position: relative;
		display: inline-block;
		width: 67px;
		height: 14px;
		margin: 0 0 0 10px;
		vertical-align: middle;
		background: url("../images/icons_theme_normal.png") -1002px 0 no-repeat;

		i {
			position: absolute;
			top: 0;
			left: 0;
			height: 14px;
			font-size: 0;
			background: url("../images/icons_theme_normal.png") -10000px 0 no-repeat;
		}

		.s1 {
			width: 14px;
		}
		.s2 {
			width: 28px;
		}
		.s3 {
			width: 42px;
		}
		.s4 {
			width: 56px;
		}
		.s5 {
			width: 67px;
		}
	}
}

//---------------------------------------------rating###

// todo remove this selector
.sectionTitle {
	.sectionHdr;
	font-weight: 400;
}

.productImage {
	position: relative;
}

.productImagePrimaryLink {
	display: block;
	width: 100%;
	cursor: pointer;

	img {
		width: 100%;

	}
}

.productImage .productImagePrimary .productImageZoomLink {
	position: absolute;
	top: 15px;
	left: 15px;
	display: block;
	width: 30px;
	height: 30px;
	background: data-uri('../images/zoom_icon.png');
	pointer-events: none;
}

/*
### Product Images scroller
********************************************************************/

.productImageGallery {
	&_list {
		display: flex;
		margin:16px 0 0;
		flex-wrap: wrap;
	}
	&_item {
		margin: 2px;

		.thumb {
			border: 1px solid #d9d9d9;
			display: block;
			overflow: hidden;
			width: 60px;
			height: 60px;
			padding: 4px;
			cursor: pointer;
			border-radius: 2px;

			.border_lightGray();

			img {
				display: block;
				width: 100%;
			}

			&.active {
				border: 1px solid @color_red;

			}
		}
	}
}