.productTabs {
	margin:34px 0;

	&_detailsHeader {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		.sectionHdr {
			flex: 0 0 auto;
		}

		.text {
			color: @color_grayText;

			a {
				border-bottom:1px dotted currentColor;
			}
		}
	}
}

.productOptions {
	&:focus {
		outline: none;
	}
	&_section {
		& + & {
			margin: 20px 0 0;
		}
	}
	&_sectionTitle {
		padding: 5px 10px;
		font-size: 13px;
		font-weight: 700;
		background: @color_gray_2;
	}
	&_list {
		padding:10px 0 0;
	}
	&_item {
		display: flex;
		margin: 8px 0;

		.title {
			flex: 0 0 auto;
			width: 210px;
			display: flex;

			span:first-child {
				flex: 0 0 auto;
				padding-right:5px;
			}

			.decor {
				position: relative;
				top: -5px;
				flex: 1 1 auto;
				border-bottom:1px dotted @color_gray;
			}
		}
		.decor {
			flex: 1 1 auto;
		}
		.desc {
			padding:0 0 0 5px;
		}
	}
}