.productLine {
	&_wrapper {
		.border_lightGray;
	}

	&_list {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.productRow & {
			height: auto;

			.clearfix();
		}
	}

	&_item {
		border-right: 1px solid @color_grayLight;
		width: 210px;
		flex: 0 0 auto;

		&:last-child {
			border-right: 0;
		}
	}

	&_itemInner {
		display: block;
		padding:15px 20px;
	}

	&_itemLink {
		color: black;

		&:hover, &:focus,& {
			text-decoration: none;
		}

		&:hover {
			.productLine_name {
				color: @color_red;
			}
		}
	}

	&_list {
		height: auto;
	}

	&_img {
		img {
			display: block;
			width: 100%;
		}
	}

	&_price {
		margin: .6em 0 0;
		font-weight: 700;
		font-size: 18px;
	}

	&_name {
		height: 3.07692306em;
		max-height: 3.07692306em;
		margin-top: .6em;
		font-size: 13px;
		line-height: 1.53846153;
	}
}
