.shareBlock_wrapper {
	position: relative;
}
.shareBlock_trigger {
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 0;
	border:none;
	padding: 0;
	background: data-uri('../images/tooltip_icon.png');

	&:focus {
		outline: none;
	}
}
.shareBlock_content {
	position: absolute;
	z-index: 5;
	top: calc(~"100% + 10px");
	right: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	padding: 15px;
	background: white;
	border-radius: @borderRadius;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	transition: .2s ease;

	// hidden
	opacity:0;
	pointer-events: none;
	transform:translate(0,5px);

	// show
	.shareBlock_wrapper.is_show & {
		opacity: 1;
		pointer-events: auto;
		transform: translate(0,0);
	}

	& > span {
		margin:0 10px;
	}
}

.shareBlock_link {
	color: @color_blue;
	text-decoration: none;

	&:hover {
		color: @color_red;
	}
}