// todo create BEM-liked class names
.variantOptions {
	&_section {
		margin:20px 0 0;
	}

	&_name {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		margin:0 0 5px;
	}

	&_imgList {
		display: flex;
		flex-wrap: wrap;
		margin-bottom:-20px;// because of imgItem has 20px margin-bottom
	}

	&_imgItem {
		flex: 0 0 auto;
		margin:0 20px 20px 0;
		transition: .15s ease border-color;

		.border_lightGray();

		&:hover, &.selected {
			border-color: @color_red;
		}
	}

	&_imgLink {
		display: block;
		width: 42px;
		height: 42px;
		overflow: hidden;
		line-height: 42px;
		background: white;

		&:hover, &:focus {
			text-decoration: none;
		}

		img {
			display: inline-block;
			width: 100%;
		}
	}

	&_select {
		display: block;
		width: 100%;
		height: 32px;
		line-height: 32px;
		padding: 0 15px;
		text-transform: uppercase;
		font-size: 13px;
		border-radius: 0;
		background-color: white;
		border: 1px solid @color_grayLight;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		option {
			font-size: 14px;
			line-height: 18px;
			padding: 6px 13px;
			width: 100%;
		}

		&:focus {
			border-color: darken(@color_grayLight,15%);
			outline: 0;
			box-shadow: none;
		}
	}
}