.ya-ru_teamidea_crossboard_b2c_backoffice_actions_indexproduct:hover
{
    background: #6f7c91 none repeat scroll 0 0;
    color: #fff;
    transition: background-color 0.3s ease 0s;
}

.ya-ru_teamidea_crossboard_b2c_backoffice_actions_indexproduct .z-hbox-separator
{
    display: none;
}

.ya-ru_teamidea_crossboard_b2c_backoffice_actions_indexproduct .cng-action-text
{
    padding-right: 5px;
    padding-top: 5px;
}