.jcarousel-clip {
	overflow: hidden;

}

.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 48px;
	height: 48px;
	margin:0;
	padding: 0;
	border: 0;
	color: rgba(0,0,0,0.1);
	background: white;
	border-radius: 100%;
	box-shadow:inset 0 0 0 2px currentColor;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		color: rgba(0,0,0,0.2);

		&:before {
			color: @color_red;
		}
	}
}

.jcarousel-skin .jcarousel-prev-horizontal {
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 15px;
		margin-top: -9px;
		margin-left: -6px;
		border-left:2px solid currentColor;
		border-bottom:2px solid currentColor;
		transform: rotate(45deg);
	}
}
.jcarousel-skin .jcarousel-next-horizontal {
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 15px;
		margin-top: -9px;
		margin-left: -12px;
		border-right:2px solid currentColor;
		border-top:2px solid currentColor;
		transform: rotate(45deg);
	}
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	cursor: default;
}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: -24px;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: -24px;
}