////////////////////////
//      Settings      //
////////////////////////

// overlay
@mfp-overlay-color: rgba(0,0,0,0.4); // Color of overlay screen
@mfp-overlay-opacity: 1; // Opacity of overlay screen
@mfp-shadow: 0 0 8px rgba(0, 0, 0, 0.6); // Shadow on image or iframe

// spacing
@mfp-popup-padding-left: 8px; // Padding from left and from right side
@mfp-popup-padding-left-mobile: 6px; // Same as above, but is applied when width of window is less than 800px

@mfp-z-index-base: 1040; // Base z-index of popup

// controls
@mfp-include-arrows: true; // Include styles for nav arrows
@mfp-controls-opacity: 0.65; // Opacity of controls
@mfp-controls-color: #FFF; // Color of controls
@mfp-controls-border-color: #3F3F3F; // Border color of controls
@mfp-inner-close-icon-color: #333; // Color of close button when inside
@mfp-controls-text-color: #CCC; // Color of preloader and "1 of X" indicator
@mfp-controls-text-color-hover: #FFF; // Hover color of preloader and "1 of X" indicator
@mfp-IE7support: true; // Very basic IE7 support

// Iframe-type options
@mfp-include-iframe-type: true; // Enable Iframe-type popups
@mfp-iframe-padding-top: 40px; // Iframe padding top
@mfp-iframe-background: #000; // Background color of iframes
@mfp-iframe-max-width: 900px; // Maximum width of iframes
@mfp-iframe-ratio: 9/16; // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
@mfp-include-image-type: true; // Enable Image-type popups
@mfp-image-background: #444;
@mfp-image-padding-top: 40px; // Image padding top
@mfp-image-padding-bottom: 40px; // Image padding bottom
@mfp-include-mobile-layout-for-image: true; // Removes paddings from top and bottom

// Image caption options
@mfp-caption-title-color: #F3F3F3; // Caption title color
@mfp-caption-subtitle-color: #BDBDBD; // Caption subtitle color

// A11y
@mfp-use-visuallyhidden: false; // Hide content from browsers, but make it available for screen readers

////////////////////////
//
// Contents:
//
// 1. General styles
//    - Transluscent overlay
//    - Containers, wrappers
//    - Cursors
//    - Helper classes
// 2. Appearance
//    - Preloader & text that displays error messages
//    - CSS reset for buttons
//    - Close icon
//    - "1 of X" counter
//    - Navigation (left/right) arrows
//    - Iframe content type styles
//    - Image content type styles
//    - Media query where size of arrows is reduced
//    - IE7 support
//
////////////////////////

////////////////////////
// 1. General styles
////////////////////////

// Transluscent overlay
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: @mfp-z-index-base + 2;
	overflow: hidden;
	position: fixed;
	background: @mfp-overlay-color;
	opacity: @mfp-overlay-opacity;
}

// Wrapper for popup
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: @mfp-z-index-base + 3;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; // fixes webkit bug that can cause "false" scrollbar
}

// Root container
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 @mfp-popup-padding-left;
	box-sizing: border-box;
}

// Vertical centerer helper
.mfp-container {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

// Remove vertical centering when popup has class `mfp-align-top`
.mfp-align-top {
	.mfp-container {
		&:before {
			display: none;
		}
	}
}

// Popup content holder
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: @mfp-z-index-base + 5;
}

.mfp-inline-holder,
.mfp-ajax-holder {
	.mfp-content {
		width: 100%;
		cursor: auto;
	}
}

// Cursors
.mfp-ajax-cur {
	cursor: progress;
}

.mfp-zoom-out-cur {
	&, .mfp-image-holder .mfp-close {
		cursor: -moz-zoom-out;
		cursor: -webkit-zoom-out;
		cursor: zoom-out;
	}
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}

.mfp-auto-cursor {
	.mfp-content {
		cursor: auto;
	}
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

// Hide the image during the loading
.mfp-loading {
	&.mfp-figure {
		display: none;
	}
}

// Helper class that hides stuff
.mfp-hide {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

////////////////////////
// 2. Appearance
////////////////////////

// Preloader and text that displays error messages
.mfp-preloader {
	color: @mfp-controls-text-color;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: @mfp-z-index-base + 4;
	a {
		color: @mfp-controls-text-color;
		&:hover {
			color: @mfp-controls-text-color-hover;
		}
	}
}

// Hide preloader when content successfully loaded
.mfp-s-ready {
	.mfp-preloader {
		display: none;
	}
}

// Hide content when it was not loaded
.mfp-s-error {
	.mfp-content {
		display: none;
	}
}

// CSS-reset for buttons
button {
	&.mfp-close,
	&.mfp-arrow {
		overflow: visible;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
		display: block;
		outline: none;
		padding: 0;
		z-index: @mfp-z-index-base + 6;
		box-shadow: none;
	}
	&::-moz-focus-inner {
		padding: 0;
		border: 0
	}
}

// Close icon
.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;

	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: @mfp-controls-opacity;
	padding: 0 0 18px 10px;
	color: @mfp-controls-color;

	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&:active {
		top: 1px;
	}
}

.mfp-close-btn-in {
	.mfp-close {
		color: @mfp-inner-close-icon-color;
	}
}

.mfp-image-holder,
.mfp-iframe-holder {
	.mfp-close {
		color: @mfp-controls-color;
		right: -6px;
		text-align: right;
		padding-right: 6px;
		width: 100%;
	}
}

// "1 of X" counter
.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: @mfp-controls-text-color;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
}

// Iframe content type
.mfp-iframe-holder {
	padding-top: @mfp-iframe-padding-top;
	padding-bottom: @mfp-iframe-padding-top;
	.mfp-content {
		line-height: 0;
		width: 100%;
		max-width: @mfp-iframe-max-width;
	}
	.mfp-close {
		top: -40px;
	}
}

.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: @mfp-iframe-ratio * 100%;
	iframe {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: @mfp-shadow;
		background: @mfp-iframe-background;
	}
}
