//---------------------------------------------new styles
@color_sliderPink: #e4003a;

.ui-slider-theme-default {
	margin:32px 0 15px;

	&.ui-corner-all {
		border-radius: 4px;
	}

	&.ui-slider-horizontal {
		height: 14px;
		position: relative;
		border: 1px solid #e6e6e6;
		background: white;

		.ui-slider-min {
			left: 0;

			&:before {
				left: 0px;
			}
		}

		.ui-slider-max {
			right: 0;

			&:before {
				right: 0px;
			}
		}

		.ui-slider-min, .ui-slider-max {
			position: absolute;
			bottom: 100%;
			padding:0 0 10px;
			font-size: 10px;
			color: #666;

			&:before {
				content: '';
				height: 6px;
				width: 1px;
				background: #e6e6e6;
				position: absolute;
				bottom: 0;
			}
		}
	}

	.ui-slider-range {
		position: absolute;
		display: block;
		top: 0;
		height: 100%;
		border: 0;
		overflow: hidden;
		background: @color_sliderPink;
	}

	.ui-slider-handle {
		border: none;
		outline: none;
		width: 10px;
		height: 16px;
		opacity: .6;
		cursor: pointer;

		&:hover, &:focus, &:active {
			background: none;
			outline: none;
		}

		&:first-of-type {
			background: url(../images/icons.png) no-repeat -1071px 0;
			margin: 14px 0 0 -10px;
		}

		&:last-of-type {
			margin: 14px 0 0 0;
			background: url(../images/icons.png) no-repeat -1085px 0;
		}
	}
}

//---------------------------------------------new styles###