<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<!-- /109000988/cb2_main_194x255_1 -->
<div id='div-gpt-ad-1474897657847-0' style='height:255px; width:194px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1474897657847-0'); });
    </script>
</div>

<!-- /109000988/cb2_main_194x255_2 -->
<div id='div-gpt-ad-1474897724915-0' style='height:255px; width:194px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1474897724915-0'); });
    </script>
</div>

<!-- /109000988/cb2_main_194x255_3 -->
<div id='div-gpt-ad-1474897838163-0' style='height:255px; width:194px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1474897838163-0'); });
    </script>
</div>

<!-- /109000988/cb2_main_194x255_4 -->
<div id='div-gpt-ad-1474897969019-0' style='height:255px; width:194px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1474897969019-0'); });
    </script>
</div>

<!-- /109000988/cb2_main_194x255_5 -->
<div id='div-gpt-ad-1474898016186-0' style='height:255px; width:194px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1474898016186-0'); });
    </script>
</div>
