
.y-editor-area-attributes-cnt-max .z-groupbox-content .z-hbox .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell {
    width: 98% !important;
}
.ya-ru_teamidea_crossboard_b2c_backoffice_actions_translateProduct{
    color: red;
    font-size: 19px;
    border: 1px solid #101056;
}

div.yw-explorerTree .y-tree-icon-productfullindex .y-tree-icon {
    background-image: url("images/0116_Indexer-hot-update-operation-wizard.png");
}
