<%@ tag body-content="empty" trimDirectiveWhitespaces="true" pageEncoding="UTF-8" %>
<%@ attribute name="hideHeaderLinks" required="false" %>

<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="header" tagdir="/WEB-INF/tags/desktop/common/header"  %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="cms" uri="http://hybris.com/tld/cmstags" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>

<nav class='navbar navbar_theme_normal navbar_color_default navbar_size_sm navbar-static-top'>
    <div class='container-fluid'>
        <ul class='nav nav_theme_normal navbar-nav navbar-nav_sites navbar-left'>
            <li class='retail'><a href='https://www.ulmart.ru/' rel='nofollow' class='js-gtm-main-menu-item'>Юлмарт<span class='hint'>E-commerce  №1</span></a></li>
            <li class='corp'><a href='https://corp.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event js-gtm-main-menu-item' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartBusinessLink'>Юлмарт Бизнес<span class='hint'>Товары для бизнеса</span></a></li>
            <li class='slivy'><a href='https://stock.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event js-gtm-main-menu-item' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartStockLink'>Сливы<span class='hint'>Стоковое пространство</span></a></li>
            <li class='wishni'><a href='https://wishni.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event js-gtm-main-menu-item' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartCouponLink'>Wishni<span class='hint'>Купоны и ваучеры</span></a></li>
            <li class='discount'><a href='https://discount.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event js-gtm-main-menu-item' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartDiscountLink'>Юлмарт Second<span class='hint'>Уцененные товары</span></a></li>
            <li class='labels hidden'><a href='https://thelabels.ulmart.ru/' rel='nofollow'>TheLabels<span class='hint'>Аутлет одежды</span></a></li>
            <li class='sindbad hidden'><a class='js-gtm-main-menu-item' href='https://sindbad.test-stage.ulmart.ru/' rel='nofollow'>Sindbad.Ulmart<span class='hint'>Лучшие авиацены</span></a></li>
            <li class='cross-border hidden'><a class='js-gtm-main-menu-item' href='https://cb.test-stage.ulmart.ru/getHeaderStatic' rel='nofollow' class='js-gtm-travel-event js-gtm-main-menu-item'>Товары из-за рубежа<span class='hint'>Китай и не только</span></a></li>
            <li class='dropdown dropdown_theme_normal hidden'>
                <span aria-expanded='false' class='b-pseudolink nounderline dropdown-toggle text-strong' data-toggle='dropdown'>
                    Еще проекты <i class='caret'></i>
                </span>
                <ul class='dropdown-menu pull-left'></ul>
            </li>
        </ul>
        <ul class='nav nav_theme_normal navbar-nav navbar-right'>
            <li><a href='https://www.ulmart.ru/help/current' class=''>Помощь</a></li>
            <li><a class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='register' href='https://www.ulmart.ru/registration?target=/'>Регистрация</a></li>
            <li><a class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='logIn' href='https://www.ulmart.ru/login?target=/'><i class='b-ico b-ico_sm b-ico_sign-in active'></i><span>Вход</span></a></li>
        </ul>
    </div>
</nav>
<nav class='navbar-static-top navbar_color_white navbar_theme_normal navbar_headermain-responsive'>
    <div class='container-fluid'>
        <div class='row row_fix-left'>
            <div class='col-main-left'>
                <div itemscope='' itemtype='http://schema.org/Organization' class='b-head-logo navbar-logo  b-head-logo_size-small '>
                    <img src='${commonResourcePath}/images/backup/cb-ulmart-logo.png' alt='Юлмарт Маркетплейс' itemprop='logo'>
                    <span style='display:none;' itemprop='name'>ООО «Юлмарт РСК»</span>
                    <span style='display:none;' itemprop='description'>Продажа компьютеров, бытовой техники, комплектующих. Огромный выбор товаров по доступным ценам.</span>
                    <span style='display:none;' itemprop='address'>195197, г. Санкт-Петербург, ул. Благодатная, д. 50</span>
                    <span style='display:none;' itemprop='telephone'>+78123363777</span>
                </div>
            </div>
            <div class='col-main-sectionwrap'>
                <div class='col-main-section'>
                    <p class='navbar-text'>
            <span class='b-pseudolink navbar-link nounderline'>
              Москва
            </span>
                    </p>
                    <p class='navbar-text navbar-phone'>
                        <small class='code'>+7 495</small>&nbsp;<span class='number'>287-42-41</span>
                        <small class='text-muted'>&nbsp;Круглосуточно</small>
                    </p>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse-1'>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <div class='collapse navbar-collapse' id='navbar-collapse-1'>
                        <ul class='nav nav_theme_normal navbar-right navbar-nav'>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#kak_zakazat' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Заказ</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#kak_oplatit' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Оплата</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#o_dostavke' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Доставка</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#garantii' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Гарантия</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- FOOTER COMMON -->
<div class='container-fluid'>
    <div class='row'>
        <div class='col-main-7'>
            <ul class='b-list b-list_inline cleared'>
                <li class='b-list__item'><a href='https://www.ulmart.ru/help/current/contacts' class='underline text-base' rel='nofollow'>Адреса и телефоны</a></li>
                <li class='b-list__item'><a href='https://www.ulmart.ru/about/current/ulmart' class='underline text-base' rel='nofollow'>О Юлмарте</a></li>
                <li class='b-list__item'><a href='https://www.ulmart.ru/help/current' class='underline text-base' rel='nofollow'>Помощь</a></li>
                <li class='b-list__item'><a href='https://www.ulmart.ru/about/current/ads' class='underline text-muted text-sm' rel='nofollow'>Рекламодателям</a></li>
                <li class='b-list__item'><a href='https://www.ulmart.ru/about/current/press' class='underline text-muted text-sm' rel='nofollow'>Пресс-центр</a></li>
                <li class='b-list__item'><a href='http://ulmart-dev.ru' class='underline text-muted text-sm' rel='nofollow'>Юлмарт Девелопмент</a></li>
                <li class='b-list__item'><a href='http://investors.ulmart.ru/' class='underline text-muted text-sm' rel='nofollow'>For investors</a></li>
                <!--/noindex-->
            </ul>
            <ul class='b-inline-block-list b-page__footer-inline-block-list'>
                <li class='b-inline-block'>
                    <a href='https://market.yandex.ru/shop/18063/reviews?from=18063' target='_blank'>
                        <img src='${commonResourcePath}/images/backup/ya.market-5.png' alt='' class='' width='310' height='29'>
                    </a>
                </li>
                <li class='b-inline-block'>
                    <span class='text-muted'>Участник</span>
                    <a href='http://www.akit.ru/1234567/' target='_blank'><img src='${commonResourcePath}/images/backup/akit-logo.png' alt='' width='35' height='37'></a>
                </li>
                <li class='b-inline-block'>
                    <span class='b-ico-round b-ico-round_lg b-ico-round_18plus'>18+</span>
                </li>
            </ul>
            <div class='cleared'>
                <div id='footer_text' class='text-muted text-sm'>
                    *Указана ориентировочная цена. Финальная стоимость зависит от курса обмена платежной системы и будет рассчитана при оформлении заказа.
                    Разработка — <a href='http://www.teamidea.ru/' class='underline text-muted' target='_blank'>TeamIdea</a>
                </div>
            </div>
        </div>
        <div class='col-main-5 text-right'>
            <div class='b-ico-group b-ico-group_lg b-page__footer-social'>
                <a href='https://vkontakte.ru/i_love_ulmart' target='_blank' title='Vkontakte' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_vk b-ico_sm'></i>
                </a>
                <a href='https://www.facebook.com/I.love.Ulmart' target='_blank' title='Facebook' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_fb b-ico_sm'></i>
                </a>
                <a href='https://www.odnoklassniki.ru/iloveulmart' target='_blank' title='Odnoklassniki' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_ok b-ico_sm'></i>
                </a>
                <a href='https://my.mail.ru/community/ulmart_ru/' target='_blank' title='Мой Мир' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_mm b-ico_sm'></i>
                </a>
                <a href='https://www.twitter.com/Ulmart_ru' target='_blank' title='Twitter' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_tw b-ico_sm'></i>
                </a>
                <a href='https://plus.google.com/b/102298704406930774476/102298704406930774476/' target='_blank' title='Google+' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_gplus b-ico_sm'></i>
                </a>
                <a href='https://instagram.com/iloveulmart' target='_blank' title='Instagram' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_inst b-ico_sm'></i>
                </a>
                <a href='https://www.youtube.com/user/ulmartofficial' target='_blank' title='Youtube' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_sm b-ico_youtube'></i>
                </a>
                <a href='https://ru.foursquare.com/ulmart_ru' target='_blank' title='Foursquare' class='b-ico-round b-ico-round_theme_normal b-ico-round_lg'>
                    <i class='b-ico b-ico_fs_20x20'></i>
                </a>
            </div>
            <div class='b-page__footer-apps'>
                <a href='https://itunes.apple.com/ru/app/ulmart/id867679958' target='_blank'>
                    <img src='${commonResourcePath}/images/backup/appstore-sm.png' alt='' width='90' height='32'>
                </a>
                <a href='https://play.google.com/store/apps/details?id=ru.ulmart.mobapp&amp;referrer=utm_source%3Dulmart%26utm_medium%3Dicon' target='_blank'>
                    <img src='${commonResourcePath}/images/backup/gplay-sm.png' alt='' width='90' height='32'>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- LOGIN USER HEADER -->
<nav class='navbar navbar_theme_normal navbar_color_default navbar_size_sm navbar-static-top'>
    <div class='container-fluid'>
        <ul class='nav nav_theme_normal navbar-nav navbar-nav_sites navbar-left'>
            <li class='retail'><a href='https://www.ulmart.ru/' rel='nofollow'>Юлмарт<span class='hint'>E-commerce  №1</span></a></li>
            <li class='corp'><a href='https://corp.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartBusinessLink'>Юлмарт Бизнес<span class='hint'>Товары для бизнеса</span></a></li>
            <li class='slivy'><a href='https://stock.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartStockLink'>Сливы<span class='hint'>Стоковое пространство</span></a></li>
            <li class='wishni'><a href='https://wishni.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartCouponLink'>Wishni<span class='hint'>Купоны и ваучеры</span></a></li>
            <li class='discount'><a href='https://discount.ulmart.ru/' rel='nofollow' class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='ulmartDiscountLink'>Юлмарт Second<span class='hint'>Уцененные товары</span></a></li>
            <li class='labels hidden'><a href='https://thelabels.ulmart.ru/' rel='nofollow'>TheLabels<span class='hint'>Аутлет одежды</span></a></li>
            <li class='sindbad hidden'><a href='https://sindbad.test-stage.ulmart.ru/' rel='nofollow'>Sindbad.Ulmart<span class='hint'>Лучшие авиацены</span></a></li>
            <li class='cross-border hidden'><a href='https://cb.test-stage.ulmart.ru/getHeaderStatic' rel='nofollow' class='js-gtm-travel-event'>Товары из-за рубежа<span class='hint'>Китай и не только</span></a></li>
            <li class='dropdown dropdown_theme_normal hidden'>
                <span aria-expanded='false' class='b-pseudolink nounderline dropdown-toggle text-strong' data-toggle='dropdown'>
                    Еще проекты <i class='caret'></i>
                </span>
                <ul class='dropdown-menu pull-left'></ul>
            </li>
        </ul>
        <ul class='nav nav_theme_normal navbar-nav navbar-right'>
            <li><a href='https://www.ulmart.ru/help/current' class=''>Помощь</a></li>
            <li><a href='https://www.ulmart.ru/cabinet/settings' class=''>Личный кабинет</a></li>
            <li class='exit'><a class='js-gtm-travel-event' data-gtm-event-category='Interactions' data-gtm-event-action='click' data-gtm-event-label='logOut' href='https://www.ulmart.ru/logout'>Выйти</a></li>
        </ul>
    </div>
</nav>
<nav class='navbar-static-top navbar_color_white navbar_theme_normal navbar_headermain-responsive'>
    <div class='container-fluid'>
        <div class='row row_fix-left'>
            <div class='col-main-left'>
                <div itemscope='' itemtype='http://schema.org/Organization' class='b-head-logo navbar-logo  b-head-logo_size-small '>
                    <a itemprop='url' href='/'>Главная</a>
                    <img src='//2b29s2p.fast.ulmart.ru/resources/desktop.blocks/b-head-logo/cb-ulmart-logo.png' alt='Юлмарт Маркетплейс' itemprop='logo'>
                    <span style='display:none;' itemprop='name'>ООО «Юлмарт РСК»</span>
                    <span style='display:none;' itemprop='description'>Продажа компьютеров, бытовой техники, комплектующих. Огромный выбор товаров по доступным ценам.</span>
                    <span style='display:none;' itemprop='address'>195197, г. Санкт-Петербург, ул. Благодатная, д. 50</span>
                    <span style='display:none;' itemprop='telephone'>+78123363777</span>
                </div>
            </div>
            <div class='col-main-sectionwrap'>
                <div class='col-main-section'>
                    <p class='navbar-text'>
            <span class='b-pseudolink navbar-link nounderline'>
              Москва
            </span>
                    </p>
                    <p class='navbar-text navbar-phone'>
                        <small class='code'>+7 495</small>&nbsp;<span class='number'>287-42-41</span>
                        <small class='text-muted'>&nbsp;Круглосуточно</small>
                    </p>
                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse-1'>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <div class='collapse navbar-collapse' id='navbar-collapse-1'>
                        <ul class='nav nav_theme_normal navbar-right navbar-nav'>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#kak_zakazat' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Заказ</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#kak_oplatit' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Оплата</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#o_dostavke' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Доставка</span></a></li>
                            <li><a href='https://www.ulmart.ru/help/spb/goods_from_abroad#garantii' class='text-base nounderline  ' rel='nofollow'><span class='underline'>Гарантия</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
